<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skb.edmp.api.store.local.ApiMapper">

	<update id="apiStatusRegist" parameterType="com.skb.edmp.api.dto.UpdateStatusRegistrationReqDto" timeout="3">
		UPDATE UM_UPD_PLAN_STS_MST
		<trim prefix="SET" suffixOverrides=",">
			<if test='update_info.timestamp != null'>STM_LAST_UPD_DATE = #{insertTime},</if>
			<if test='system_nm != null and system_nm != ""'>STM_LAST_UPD_USER_ID = #{system_nm},</if>
			<if test='stb_info.mac_addr != null and stb_info.mac_addr != ""'>MAC_ADDR = #{stb_info.mac_addr},</if>
			<if test='update_info.stb_sw_ver != null and update_info.stb_sw_ver != ""'>STB_SW_VER = #{update_info.stb_sw_ver},</if>
			<if test='update_info.stb_inst_ver != null and update_info.stb_inst_ver != ""'>STB_SW_PLAN_INST_VER = #{update_info.stb_inst_ver},</if>
			<if test='stb_info.stb_last_ver != null and stb_info.stb_last_ver != ""'>STB_SW_PLAN_LAST_VER = #{stb_info.stb_last_ver},</if>
			<if test='stb_info.modl_nm != null and stb_info.modl_nm != ""'>MODL_NM = #{stb_info.modl_nm},</if>
			<if test='update_info.sw_id != null and update_info.sw_id != ""'>SW_ID = #{update_info.sw_id},</if>
			<if test='update_info.sw_file_ver != null and update_info.sw_file_ver != ""'>SW_FILE_VER = #{update_info.sw_file_ver},</if>
			<if test='update_info.result != null and update_info.result != ""'>ERR_CD = #{update_info.result},</if>
			<if test='update_info.reason != null and update_info.reason != ""'>ERR_EXPL = #{update_info.reason},</if>
			<if test='stb_info.upd_scop_cd != null and stb_info.upd_scop_cd != ""'>UPD_SCOP_CD = #{stb_info.upd_scop_cd},</if>
			<if test='stb_info.cust_noty_mt_fg_cd != null and stb_info.cust_noty_mt_fg_cd != ""'>CUST_NOTY_MT_FG_CD = #{stb_info.cust_noty_mt_fg_cd},</if>
		</trim>
		WHERE PLAN_ID = #{update_info.plan_id}
			AND EXE_SCH_ID = #{update_info.exe_sch_id}
			AND STB_ID = #{stb_info.stb_id}
			AND STM_FIR_REG_DATE = (SELECT MAX(STM_FIR_REG_DATE)
									FROM UM_UPD_PLAN_STS_MST
									WHERE STB_ID = #{stb_info.stb_id})
	</update>

	<insert id="apiStatusRegistHistory" parameterType="com.skb.edmp.api.dto.UpdateStatusRegistrationReqDto" timeout="3">
		INSERT INTO UM_UPD_PLAN_STS_HST
		(
			SEQ_ID,
			PTN_DY,
			PLAN_ID,
			EXE_SCH_ID,
			STB_ID,
			MAC_ADDR,
			STB_SW_VER,
			STB_SW_PLAN_INST_VER,
			STB_SW_PLAN_LAST_VER,
			MODL_NM,
			SW_ID,
			SW_FILE_VER,
			ERR_CD,
			ERR_EXPL,
			UPD_SCOP_CD,
			CUST_NOTY_MT_FG_CD,
			STM_FIR_REG_DATE,
			STM_FIR_REG_USER_ID
		)
		VALUES(
			UM_UPD_PLAN_STS_HST_SEQ.NEXTVAL,
			#{ptn_dy},
			#{update_info.plan_id},
			#{update_info.exe_sch_id},
			#{stb_info.stb_id},
			#{stb_info.mac_addr},
			#{update_info.stb_sw_ver},
			#{update_info.stb_inst_ver},
			#{stb_info.stb_last_ver},
			#{stb_info.modl_nm},
			#{update_info.sw_id},
			#{update_info.sw_file_ver},
			#{update_info.result},
			#{update_info.reason},
			#{stb_info.upd_scop_cd},
			#{stb_info.cust_noty_mt_fg_cd},
			#{insertTime},
			#{system_nm}
		)
	</insert>

	<insert id="apiSw" parameterType="com.skb.edmp.api.dto.UpdateSwReqDto" timeout="3">
		INSERT INTO UM_UPD_PLAN_STS_MST
		(
			PLAN_ID,
			EXE_SCH_ID,
			STB_ID,
			MAC_ADDR,
			STB_SW_VER,
			STB_SW_PLAN_LAST_VER,
			MODL_NM,
			ERR_CD,
			ERR_EXPL,
			STM_FIR_REG_DATE,
			STM_FIR_REG_USER_ID,
			STM_LAST_UPD_DATE,
			STM_LAST_UPD_USER_ID
		)
		VALUES(
			#{plan_id},
			#{exe_sch_id},
			#{stb_info.stb_id},
			#{stb_info.mac_addr},
			#{stb_info.stb_sw_ver},
			#{stb_info.stb_last_ver},
			#{stb_info.modl_nm},
			#{result},
			#{reason},
			#{insertTime},
			#{system_nm},
			#{insertTime},
			#{system_nm}
		)
	</insert>

	<update id="apiSwUpdate" parameterType="com.skb.edmp.api.dto.UpdateSwReqDto" timeout="3">
		UPDATE UM_UPD_PLAN_STS_MST
		<trim prefix="SET" suffixOverrides=",">
			<if test='stb_info.timestamp != null'>STM_LAST_UPD_DATE = #{insertTime},</if>
			<if test='system_nm != null and system_nm != ""'>STM_LAST_UPD_USER_ID = #{system_nm},</if>
			<if test='stb_info.mac_addr != null and stb_info.mac_addr != ""'>MAC_ADDR = #{stb_info.mac_addr},</if>
			<if test='stb_info.stb_sw_ver != null and stb_info.stb_sw_ver != ""'>STB_SW_VER = #{stb_info.stb_sw_ver},</if>
			<if test='stb_info.stb_last_ver != null and stb_info.stb_last_ver != ""'>STB_SW_PLAN_LAST_VER = #{stb_info.stb_last_ver},</if>
			<if test='stb_info.modl_nm != null and stb_info.modl_nm != ""'>MODL_NM = #{stb_info.modl_nm},</if>
			<if test='result != null and result != ""'>ERR_CD = #{result},</if>
			<if test='reason != null and reason != ""'>ERR_EXPL = #{reason},</if>
		</trim>
		WHERE PLAN_ID = #{plan_id}
			AND EXE_SCH_ID = #{exe_sch_id}
			AND STB_ID = #{stb_info.stb_id}
			AND STM_FIR_REG_DATE = (SELECT MAX(STM_FIR_REG_DATE) FROM UM_UPD_PLAN_STS_MST WHERE STB_ID = #{stb_info.stb_id})
	</update>

	<insert id="apiSwHistory" parameterType="com.skb.edmp.api.dto.UpdateSwReqDto" timeout="3">
		INSERT INTO UM_UPD_PLAN_STS_HST
		(
			SEQ_ID,
			PTN_DY,
			PLAN_ID,
			EXE_SCH_ID,
			STB_ID,
			MAC_ADDR,
			STB_SW_VER,
			STB_SW_PLAN_LAST_VER,
			MODL_NM,
			ERR_CD,
			ERR_EXPL,
			STM_FIR_REG_DATE,
			STM_FIR_REG_USER_ID
		)
		VALUES(
			UM_UPD_PLAN_STS_HST_SEQ.NEXTVAL,
			#{ptn_dy},
			#{plan_id},
			#{exe_sch_id},
			#{stb_info.stb_id},
			#{stb_info.mac_addr},
			#{stb_info.stb_sw_ver},
			#{stb_info.stb_last_ver},
			#{stb_info.modl_nm},
			#{result},
			#{reason},
			#{insertTime},
			#{system_nm}
		)
	</insert>

<!--	<select id="chkDuplicate" resultType="Integer" parameterType="com.skb.edmp.api.dto.UpdateSwReqDto">-->
<!--		SELECT -->
<!--		    COUNT(*)-->
<!--		FROM UM_UPD_PLAN_STS_MST-->
<!--		WHERE 1=1-->
<!--		AND PLAN_ID = #{stb_info.plan_id}-->
<!--		AND EXE_SCH_ID = #{stb_info.exe_sch_id}-->
<!--		AND STB_ID = #{stb_info.stb_id}-->
<!--	</select>-->

	<select id="getLstErrCd" resultType="String" parameterType="com.skb.edmp.api.dto.UpdateSwReqDto" timeout="3">
		SELECT
			ERR_CD
		FROM UM_UPD_PLAN_STS_MST
		WHERE STB_ID = #{stb_info.stb_id}
		AND PLAN_ID = #{plan_id}
		AND EXE_SCH_ID = #{exe_sch_id}
		AND STM_FIR_REG_DATE = (
			SELECT MAX(STM_FIR_REG_DATE) FROM UM_UPD_PLAN_STS_MST WHERE STB_ID = #{stb_info.stb_id}
			)
	</select>

	<update id="deviceInfoSucsUpdate" parameterType="com.skb.edmp.api.dto.UpdateStatusRegistrationReqDto" timeout="3">
		UPDATE DM_DVC_MST
		<trim prefix="SET" suffixOverrides=",">
			STM_LAST_UPD_DATE = #{insertTime},
			STB_SW_UPD_DATE = #{insertTime},
			STB_LAST_CONN_DATE = #{insertTime},
			<if test='update_info.result != null and update_info.result != ""'>ERR_CD = #{update_info.result},</if>
			<if test='update_info.stb_inst_ver != null and update_info.stb_inst_ver != ""'>STB_SW_PLAN_INST_VER = #{update_info.stb_inst_ver},</if>
			<if test='update_info.stb_sw_ver != null and update_info.stb_sw_ver != ""'>STB_SW_VER = #{update_info.stb_sw_ver},</if>
			<if test='system_nm != null and system_nm != ""'>STM_LAST_UPD_USER_ID = #{system_nm},</if>
			<if test='stbPublicIp != null and stbPublicIp != ""'>CLNT_PUB_IPADDR = #{stbPublicIp},</if>
			<if test='stb_info.ip != null and stb_info.ip != ""'>CLNT_IPADDR = #{stb_info.ip},</if>
		</trim>
		WHERE STB_ID = #{stb_info.stb_id}
	</update>

	<update id="deviceInfoSwVerUpdate" parameterType="com.skb.edmp.api.dto.UpdateSwVerRegistrationReqDto" timeout="3">
		UPDATE DM_DVC_MST
		<trim prefix="SET" suffixOverrides=",">
			<if test='stb_info.stb_sw_ver != null and stb_info.stb_sw_ver != ""'>STB_SW_VER = #{stb_info.stb_sw_ver},</if>
			<!-- STB_SW_UPD_DATE = #{insertTime}, -->
			STM_LAST_UPD_DATE = #{insertTime},
			<if test='system_nm != null and system_nm != ""'>STM_LAST_UPD_USER_ID = #{system_nm},</if>
			STB_LAST_CONN_DATE = #{insertTime},
			<if test='stbPublicIp != null and stbPublicIp != ""'>CLNT_PUB_IPADDR = #{stbPublicIp},</if>
			<if test='stb_info.stbIp != null and stb_info.stbIp != ""'>CLNT_IPADDR = #{stb_info.stbIp},</if>
			<if test='stb_info.stbUptime != null and stb_info.stbUptime != ""'>STM_UPTM = TO_DATE(#{stb_info.stbUptime}, 'YYYYMMDDHH24MISS'),</if>
			<if test='stb_info.rcuPairing != null and stb_info.rcuPairing != ""'>RCU_PAIRING = #{stb_info.rcuPairing},</if>
			<if test='stb_info.rcuManufacturerCode != null and stb_info.rcuManufacturerCode != ""'>RCU_MANUFR_CD = #{stb_info.rcuManufacturerCode},</if>
			<if test='stb_info.rcuFirmVersion != null and stb_info.rcuFirmVersion != ""'>RCU_FIRM_VER = #{stb_info.rcuFirmVersion},</if>
			<if test='stb_info.webUiVersion != null and stb_info.webUiVersion != ""'>WEB_UI_VER = #{stb_info.webUiVersion},</if>
			<if test='stb_info.nativeUiVersion != null and stb_info.nativeUiVersion != ""'>NATIVE_UI_VER = #{stb_info.nativeUiVersion},</if>
			<if test='stb_info.triggerCode != null and stb_info.triggerCode != ""'>TRIGGER_CD = #{stb_info.triggerCode},</if>
			<if test='stb_info.hdmiPower != null and stb_info.hdmiPower != ""'>HDMI_POW = #{stb_info.hdmiPower},</if>
		</trim>
		WHERE STB_ID = #{stb_info.stb_id}
	</update>

	<update id="deviceInfoUpdate" parameterType="com.skb.edmp.api.dto.UpdateStatusRegistrationReqDto" timeout="3">
		UPDATE DM_DVC_MST
		<trim prefix="SET" suffixOverrides=",">
			STM_LAST_UPD_DATE = #{insertTime},
			STB_LAST_CONN_DATE = #{insertTime},
			<if test='update_info.result != null and update_info.result != ""'>ERR_CD = #{update_info.result},</if>
			<if test='update_info.stb_inst_ver != null and update_info.stb_inst_ver != ""'>STB_SW_PLAN_INST_VER = #{update_info.stb_inst_ver},</if>
			<if test='system_nm != null and system_nm != ""'>STM_LAST_UPD_USER_ID = #{system_nm},</if>
			<if test='stbPublicIp != null and stbPublicIp != ""'>CLNT_PUB_IPADDR = #{stbPublicIp},</if>
			<if test='stb_info.ip != null and stb_info.ip != ""'>CLNT_IPADDR = #{stb_info.ip},</if>
		</trim>
		WHERE STB_ID = #{stb_info.stb_id}
	</update>

	<update id="deviceConnInfoUpdate" parameterType="com.skb.edmp.api.dto.UpdateSwReqDto" timeout="3">
		UPDATE DM_DVC_MST
		<trim prefix="SET" suffixOverrides=",">
			STM_LAST_UPD_DATE = #{insertTime},
			<if test='result != null and result != ""'>ERR_CD = #{result},</if>
			<if test='stb_info.stb_sw_ver != null and stb_info.stb_sw_ver != ""'>STB_SW_VER = #{stb_info.stb_sw_ver},</if>
			<if test='stbPublicIp != null and stbPublicIp != ""'>CLNT_PUB_IPADDR = #{stbPublicIp},</if>
			<if test='stb_info.ip != null and stb_info.ip != ""'>CLNT_IPADDR = #{stb_info.ip},</if>
			STB_LAST_CONN_DATE = #{insertTime},
		</trim>
		WHERE STB_ID = #{stb_info.stb_id}
	</update>

    <select id="selectDeviceInfo" resultType="com.skb.edmp.api.dto.UpdateDeviceInfoDto"
            parameterType="com.skb.edmp.api.dto.UpdateSwVerRegistrationReqDto" timeout="3">
        SELECT t1.STB_ID
             , t1.PLAN_ID
             , t1.EXE_SCH_ID
             , t1.STB_SW_VER
             , t1.STB_SW_PLAN_LAST_VER
             , t1.TEAM_CD
             , t1.LOCK_YN
             , t1.UPD_YN
             , t1.REQ_SVC
             , t2.modl_cd
             , t2.cug_id
          FROM (SELECT PHYSICAL_STB.MODEL_CODE AS modl_cd
                     , STB.SERVICE_CODE        AS cug_id
                     , STB.STB_ID
                  FROM STB, PHYSICAL_STB, STB_MODEL
                 WHERE STB.STB_ID = PHYSICAL_STB.STB_ID
                   AND PHYSICAL_STB.MODEL_CODE = STB_MODEL.MODEL_CODE
                   AND STB.STB_ID = #{stb_info.stb_id}
                   AND PHYSICAL_STB.MAC_ADDRESS = #{stb_info.mac_addr}
               ) t2
             , DM_DVC_MST t1
         WHERE t1.STB_ID = t2.STB_ID
           AND t1.STB_ID = #{stb_info.stb_id}
           AND t1.UPD_YN = 'Y'
    </select>

	<!-- 인증 / 연동(롤백) 계획서 정보 조회 : 스케쥴은 1개 -->
	<select id="selectInitPlanInfo" parameterType="com.skb.edmp.api.dto.UpdateDeviceInfoDto" resultType="com.skb.edmp.api.dto.UpdatePlanInfoDto" timeout="3">
		SELECT A.PLAN_ID, A.ROOT_PLAN_ID, A.PLAN_NM, A.STB_UI_VER, A.PLAN_APL_FG_CD,
		       A.STB_SW_PLAN_LAST_VER, B.EXE_SCH_ID, A.UPD_STS_FG_CD
		  FROM UM_UPD_PLAN_MST A, UM_UPD_PLAN_EXE_SCH_LST B
		 WHERE A.PLAN_ID = B.PLAN_ID
		   AND A.UPD_STS_FG_CD != '4'
		   AND A.PLAN_APL_FG_CD IN ('02','03')
		   AND A.PLAN_ID IN (SELECT STBL_PLAN_ID
							   FROM UM_UPD_PLAN_STBL_VER_MAP
							  WHERE MODL_CD = #{modl_cd}
							    AND CUG_ID  = #{cug_id}
							    AND REQ_SVC  = #{req_svc})
	</select>

	<update id="devicePlanInfoUpdate" parameterType="com.skb.edmp.api.dto.UpdatePlanInfoDto" timeout="3">
		UPDATE DM_DVC_MST SET
		<if test='plan_id != null and plan_id != ""'>PLAN_ID = #{plan_id},</if>
		<if test='exe_sch_id != null and exe_sch_id != ""'>EXE_SCH_ID = #{exe_sch_id},</if>
		<if test='stb_sw_plan_last_ver != null and stb_sw_plan_last_ver != ""'>STB_SW_PLAN_LAST_VER = #{stb_sw_plan_last_ver},</if>
        STM_LAST_UPD_DATE = SYSDATE
	    WHERE STB_ID = #{stb_id}
	</update>
	
	<insert id="apiSuccessRegistHistory" parameterType="com.skb.edmp.api.dto.UpdateStatusRegistrationReqDto" timeout="3">
		INSERT INTO UM_UPD_PLAN_COM_HST
		(
			PLAN_ID,
			EXE_SCH_ID,
			STB_ID,
			STM_FIR_REG_DATE,
			STM_FIR_REG_USER_ID,
			STM_LAST_UPD_DATE,
			STM_LAST_UPD_USER_ID
		)
		VALUES(
			#{update_info.plan_id},
			#{update_info.exe_sch_id},
			#{stb_info.stb_id},
			#{insertTime},
			#{system_nm},
			#{insertTime},
			#{system_nm}
		)
	</insert>
	
	<insert id="apiAccDeviceRegist" parameterType="com.skb.edmp.api.dto.UpdateAccSwReqDto" timeout="3">
		MERGE INTO DM_ACC_DVC_MST
		USING dual
		ON (
			STB_ID = #{stb_info.stb_id}
			)
			
		WHEN MATCHED THEN
		UPDATE
			<set>
				ACC_MODL_ID = #{acc_modl_id},
				STB_MAC_ADDR = #{stb_info.mac_addr},
				ACC_MAC_ADDR = #{acc_info.acc_mac_addr},
				ACC_MODL_NM = #{acc_info.acc_modl_nm},
				DVC_FG_CD = #{acc_info.dvc_fg_cd},
				ACC_SW_VER = #{acc_info.acc_sw_ver},
				ACC_PAIRING_YN = #{acc_info.acc_pairing_yn},
				ACC_BATT_STS_CD = #{acc_info.acc_battery_sts},
				ACC_BT_CONN_YN = #{acc_info.acc_bt_conn_yn},
				STM_LAST_UPD_DATE = #{insertTime},
				STM_LAST_UPD_USER_ID = #{system_nm}
			</set>
		
		WHEN NOT MATCHED THEN
		INSERT
			VALUES
			<trim prefix="(" suffix=")" suffixOverrides="," >
				#{stb_info.stb_id},
				#{acc_modl_id},
				#{stb_info.mac_addr},
				#{acc_info.acc_mac_addr},
				#{acc_info.acc_modl_nm},
				#{acc_info.dvc_fg_cd},
				#{acc_info.acc_sw_ver},
				#{acc_info.acc_pairing_yn},
				#{acc_info.acc_battery_sts},
				#{acc_info.acc_bt_conn_yn},
				#{insertTime},
				#{system_nm},
				#{insertTime},
				#{system_nm}
			</trim>
	</insert>
	
	<update id="accDeviceInfoUpdate" parameterType="com.skb.edmp.api.dto.UpdateAccStatusRegistrationReqDto" timeout="3">
		UPDATE DM_ACC_DVC_MST
		<trim prefix="SET" suffixOverrides=",">
			<if test='acc_modl_id != null and acc_modl_id != ""'>ACC_MODL_ID = #{acc_modl_id},</if>
			<if test='stb_info.mac_addr != null and stb_info.mac_addr != ""'>STB_MAC_ADDR = #{stb_info.mac_addr},</if>
			<if test='acc_info.acc_mac_addr != null and acc_info.acc_mac_addr != ""'>ACC_MAC_ADDR = #{acc_info.acc_mac_addr},</if>
			<if test='acc_info.acc_modl_nm != null and acc_info.acc_modl_nm != ""'>ACC_MODL_NM = #{acc_info.acc_modl_nm},</if>
			<if test='update_info.dvc_fg_cd != null and update_info.dvc_fg_cd != ""'>DVC_FG_CD = #{update_info.dvc_fg_cd},</if>
			<if test='update_info.acc_sw_ver != null and update_info.acc_sw_ver != ""'>ACC_SW_VER = #{update_info.acc_sw_ver},</if>			
			STM_LAST_UPD_DATE = #{insertTime},
			STM_LAST_UPD_USER_ID = #{system_nm},
		</trim>
		WHERE 1 = 1
		AND STB_ID = #{stb_info.stb_id}
	</update>
	
	<insert id="apiAccStatusRegistHistory" parameterType="com.skb.edmp.api.dto.UpdateAccStatusRegistrationReqDto" timeout="3">
		INSERT INTO UM_UPD_ACC_DISTB_STS_HST
		(
			ACC_TRANS_ID,
			ACC_DISTB_ID,
			STB_ID,
			STB_MAC_ADDR,
			STB_MODL_NM,
			ACC_MAC_ADDR,
			ACC_MODL_NM,
			ACC_SW_VER,
			ACC_SW_DISTB_INST_VER,
			ACC_SW_DISTB_LAST_VER,
			SW_ID,
			SW_FILE_VER,
			ERR_CD,
			ERR_EXPL,
			STM_FIR_REG_DATE,
			STM_FIR_REG_USER_ID,
			STM_LAST_UPD_DATE,
			STM_LAST_UPD_USER_ID
		)
		VALUES(
			#{update_info.acc_trans_id},
			#{update_info.acc_distb_id},
			#{stb_info.stb_id},
			#{stb_info.mac_addr},
			#{stb_info.modl_nm},
			#{acc_info.acc_mac_addr},
			#{acc_info.acc_modl_nm},			
			#{update_info.acc_sw_ver},
			#{update_info.acc_inst_ver},
			#{acc_info.acc_last_ver},
			#{update_info.sw_id},
			#{update_info.sw_file_ver},
			#{update_info.result},
			#{update_info.reason},
			#{insertTime},
			#{system_nm},
			#{insertTime},
			#{system_nm}
		)
	</insert>

	<insert id="apiStatusErrRegist" parameterType="com.skb.edmp.api.dto.UpdateStatusRegistrationReqDto" timeout="3">
		INSERT INTO UM_UPD_PLAN_ERR_MST (
			PLAN_ID
			, EXE_SCH_ID
			, STB_ID
			, STM_FIR_REG_DATE
			, ERR_CD
			, MAC_ADDR
			, ERR_OCCR_DATE
			, STB_SW_VER
			, STB_SW_PLAN_LAST_VER
			, CUST_NOTY_MT_FG_CD
			, STM_FIR_REG_USER_ID
			, STM_LAST_UPD_USER_ID
			, STM_LAST_UPD_DATE
		) VALUES (
			#{update_info.plan_id}
			, #{update_info.exe_sch_id}
			, #{stb_info.stb_id}
			, #{insertTime}
			, #{update_info.result}
			, #{stb_info.mac_addr}
			, #{insertTime}
			, #{update_info.stb_sw_ver}
			, #{stb_info.stb_last_ver}
			, #{stb_info.cust_noty_mt_fg_cd}
			, #{system_nm}
			, #{system_nm}
			, #{insertTime}
		)
	</insert>

	<select id="selectUserServiceNumInfo" resultType="hashmap" parameterType="String" timeout="3">
		SELECT /*+ LEADING(STB DDM DUVM) */ STB.STB_ID as "stb_id"
			, PS.MAC_ADDRESS as "mac_addr"
			, STB.USER_SERVICE_NUM as "user_service_num"
			, DDM.STB_SW_VER as "stb_sw_ver"
			, DDM.STB_SW_PLAN_LAST_VER  as "stb_last_ver"
			, TO_CHAR(DDM.STM_UPTM, 'YYYY.MM.DD HH24:MI')  as "stm_uptm"
			, DDM.CLNT_IPADDR  as "clnt_ipaddr"
			, DDM.CLNT_PUB_IPADDR as "clnt_pub_ipaddr"
			, (SELECT MCM.CUG_NM FROM DM_CUG_MST DCM ,MN_CUG_MST MCM WHERE To_char(STB.SERVICE_CODE) = DCM.CUG_ID AND DCM.CUG_ID = MCM.CUG_ID AND ROWNUM = 1) as "cug_expl"
			, DDM.STB_LAST_CONN_DATE as "stb_last_conn_date"
			, DUVM.STB_UI_VER as "stb_ui_version"
			, UUPSH.STB_SW_PLAN_INST_VER as "stb_inst_ver"
			, UUPSH.STM_FIR_REG_DATE AS "stb_inst_date"
		FROM STB STB
		JOIN DM_DVC_MST DDM ON STB.STB_ID = DDM.STB_ID
		LEFT OUTER JOIN PHYSICAL_STB PS ON STB.STB_ID = PS.STB_ID
		LEFT OUTER JOIN DM_UI_VER_MAP DUVM ON (TO_NUMBER(SUBSTR(DDM.STB_SW_VER,1,3))||'.'||TO_NUMBER(SUBSTR(DDM.STB_SW_VER,4,3))||'.'||TO_NUMBER(SUBSTR(DDM.STB_SW_VER,7,3))||'-'||SUBSTR(DDM.STB_SW_VER,10,4)) = DUVM.STB_FULL_VER
		LEFT OUTER JOIN ( SELECT ROW_NUMBER() OVER(ORDER BY STM_FIR_REG_DATE DESC) RN, STB_ID, STB_SW_PLAN_INST_VER, STM_FIR_REG_DATE
			FROM UM_UPD_PLAN_STS_HST
			WHERE ERR_CD = '5100'
			AND STB_ID = (SELECT STB_ID FROM STB WHERE USER_SERVICE_NUM = #{user_service_num} AND ROWNUM = 1)
			) UUPSH ON STB.STB_ID = UUPSH.STB_ID AND RN = 1
		WHERE STB.USER_SERVICE_NUM = #{user_service_num}
	</select>
</mapper>
